

<h3 style="margin-top: 20px;">Team View</h3>

<p-accordion [multiple]="true">
    <p-accordionTab header="Aon360" [selected]="true">
      <app-tree-test></app-tree-test>
    </p-accordionTab>
    <p-accordionTab header="Nordics">
      <app-tree-test></app-tree-test>
   </p-accordionTab>
   <p-accordionTab header="UK">
      <app-tree-test></app-tree-test>
  </p-accordionTab>
  <p-accordionTab header="Luxemburg">
      <app-tree-test></app-tree-test>
  </p-accordionTab>
  <p-accordionTab header="South Africa">
      <app-tree-test></app-tree-test>
  </p-accordionTab>
</p-accordion>

