<p class="lead" style="margin-top: 20px; color:white;font-family:Sans-serif">
  <td style="text-align:center;vertical-align: middle;">
    <img src="/src/app/images/card.png">
    <br />
    O Mnie
  </td>
  <td style="text-align:justify">
  Mam na imię Joanna i serdecznie witam Cię na mojej stronie.
  Fotografia jest moją pasją odkąd tylko pamiętam. Moimi pierwszymi modelami byli moi przyjaciele oraz rodzina, a teraz chciałabym zaprosić również Ciebie do tego świata.
  W swojej fotografii dbam o każdy szczegół kadru, ponieważ bardzo ważny jest dla mnie dobry warsztat, który staram się rozwijać na każdym kroku poprzez liczne szkolenia i warsztaty. Dbam o to, aby moje zdjęcia były dla Was pamiątką na całe życie.
  <br /><br />
  Jeśli interesuje Cię sesja zdjęciowa, zapraszam do kontaktu telefonicznego, mailowego lub poprzez formularz umieszczony na stronie.
  <br /><br />
  Jeśli natomiast najpierw chcesz mnie lepiej poznać – odsyłam Cię do moich zdjęć.
  Miłego oglądania i niezapomnianych wrażeń.
  </td>
 </p>
