<p class="lead" style="margin-top: 20px;">
  This area is restricted to view by registered members only. Please provide your e-mail and password to log in to a IC ELP portal. Thank you.
</p>

<div class="ui-g">
  <div class="ui-g-12">
      <p-messages [(value)]="msgs"></p-messages>
  </div>

  <div class="ui-g-4">
  </div>

  <div class="ui-g-4">
    <div class="ui-g-12">
      <div class="ui-inputgroup">

      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">

      </div>
    </div>

    <div style="margin: 0 auto; text-align:right">

    </div>
  </div>
</div>
