
<p class="lead" style="margin-top: 20px; color:white;font-family:Sans-serif">
<td>Nazywam się Joanna Dam i bardzo Ci dziękuję za odwiedzenie mojej strony.
Wchodząć na tą stronę chciałabym zaprosić Cię do mojego fotograficznego świata.
<br /><br />
„Dobra fotografia to taka, która komunikuje fakt, dotyka serca i pozostawia widza zmienionym tylko dlatego, że zobaczył dane zdjęcie.”
</td>
<td>
</td>
</p>


  <div class="ui-g-4">
    <div class="ui-g-12">
      <div class="ui-inputgroup">

      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">

      </div>
    </div>

    <div style="margin: 0 auto; text-align:right">

    </div>
  </div>

