<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav navbar-logo mx-auto">
        <li class="nav-item active">
          <a routerLink="/" routerLinkActive="active" class="nav-link">Strona Głowna
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" class="nav-link">O Mnie</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Galeria
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ciążowa</a>
            <a class="dropdown-item" href="#">Noworodkowa</a>
            <a class="dropdown-item" href="#">Mini sesje</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Oferta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mini sesje tematyczne</a>
            <a class="dropdown-item" href="#">Bony podarunkowe</a>
          </div>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active" class="nav-link">Kontakt</a>
        </li>
        <li>
          <a routerLink="/facebook" routerLinkActive="active" target="_blank" class="nav-link"><i
              class="fa fa-fw fa-facebook-square"></i></a>
        </li>
        <li>
          <a routerLink="/instagram" routerLinkActive="active" target="_blank" class="nav-link"><i
              class="fa fa-fw fa-instagram"></i></a>
        </li>
        <li>
        <!--<a href="mailto:dam.joanna@gmail.com" routerLinkActive="active" class="nav-link"><i
            class="fa fa-fw fa-envelope-o"></i></a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main Header -->


<!-- Main Content Section -->
<section class="py-5 bg-footer">
  <div class="container">
<router-outlet></router-outlet>

  </div>
</section>

<!-- Put anything you want here! There is just a spacer below for demo purposes! -->


<!-- Footer -->
<footer class="py-5 bg-footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; <a href='mailto:gloger85@gmail.com'>AG</a></p>
  </div>
</footer>
