<div class="ui-g">
  <p-dialog [(visible)]="displayDialog" [modal]="true">
    <p-header>
      <b>Delete confirmation</b>
    </p-header>
    Are you sure that you want to delete this record?
    <p-footer>
      <p-button (click)="displayDialog=false" icon="pi pi-check-circle" styleClass="ui-button-primary" label="Yes"></p-button>
      <p-button (click)="displayDialog=false" icon="pi pi-times-circle" styleClass="ui-button-warning" label="Cancel"></p-button>
    </p-footer>
  </p-dialog>
  <h3 class="first">List of Added Holidays:</h3>
  <div class="ui-g">
    <div class="ui-g-12">
      <div style="float: right;">
        <p-button (click)="showCalendar()" icon="pi pi-plus-circle" label="Add Holiday"></p-button>
      </div>
    </div>
    <p-table [value]="compensations">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Holiday name</th>
          <th class="text-center">Date</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-leave>
        <tr>
          <td class="text-center">{{leave.name}}</td>
          <td class="text-center">{{leave.holidayDate}}</td>
          <td class="text-center">
            <p-button icon="fa fa-fw fa-edit" label="Edit" (click)="editCompensation()"></p-button>&nbsp;&nbsp;
            <p-button (click)="showDialog()" icon="pi pi-trash" styleClass="ui-button-warning" label="Delete"></p-button>
          </td>
        </tr>

      </ng-template>
    </p-table>
  </div>
</div>
<app-hr-add-holiday></app-hr-add-holiday>
