<div class="ui-g">
  <div class="ui-g-12" style="padding-top: 20px;">
      <p-tabView>
          <p-tabPanel header="Leaves">
            <br>  
            <app-shared-member-leave-details></app-shared-member-leave-details>
            <br>
            <app-leave-requests-list></app-leave-requests-list>
          </p-tabPanel>
          <p-tabPanel header="Compensations">
            <br>  
            <app-shared-member-compensation-details></app-shared-member-compensation-details>
            <br>
            <app-compensation-history></app-compensation-history>
          </p-tabPanel>
      </p-tabView>
    
  </div>
  <br/>
  
  <div class="ui-g-12" style="padding-top: 20px;">
    
  </div>
</div>
