<div>
  <p-dialog [(visible)]="displayDialog" [modal]="true">
    <p-header> <b>Delete confirmation</b> </p-header>
    Are you sure that you want to delete this record?
    <p-footer>
      <p-button
        (click)="displayDialog = false"
        icon="pi pi-check-circle"
        styleClass="ui-button-primary"
        label="Yes"
      ></p-button>
      <p-button
        (click)="displayDialog = false"
        icon="pi pi-times-circle"
        styleClass="ui-button-primary"
        label="No"
      ></p-button>
    </p-footer>
  </p-dialog>
  <h3 class="first">List of leave requests:</h3>
  <p-table [value]="leaves">
    <ng-template pTemplate="header">
      <tr>
        <th>Leave number</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-leave>
      <tr>
        <td>
          <a
            data-toggle="collapse"
            href="#leave{{ leave.id }}"
            role="button"
            aria-expanded="false"
          >
            <p-button
              icon="pi pi-bars"
              styleClass="ui-button-primary"
              label="Details"
            ></p-button> </a
          >&nbsp; {{ leave.id }}
        </td>
        <td>{{ leave.startDate }}</td>
        <td>{{ leave.endDate }}</td>
        <td>
          <span *ngIf="leave.status == 'Approved'">
            <p-message severity="success" [text]="leave.status"></p-message>
          </span>
          <span *ngIf="leave.status == 'Canceled'">
            <p-message severity="error" [text]="leave.status"></p-message>
          </span>
          <span *ngIf="leave.status == 'Pending'">
            <p-message severity="warn" [text]="leave.status"></p-message>
          </span>
          &nbsp;
          <p-button
            (click)="showDialog()"
            icon="pi pi-trash"
            styleClass="ui-button-warning"
            label="Cancel"
            *ngIf="leave.status == 'Pending'"
          ></p-button>
        </td>
      </tr>
      <tr class="collapse" [attr.id]="'leave' + leave.id">
        <td colspan="4">
          <p-card title="Leave details">
            <div class="ui-g">
              <div class="ui-g-1"><b>Requested by:</b></div>
              <div class="ui-g-2">Andrzej Jabcon</div>
              <div class="ui-g-1"><b>Requested for:</b></div>
              <div class="ui-g-2">Andrzej Jabcon</div>
              <div class="ui-g-1"><b>Requested date:</b></div>
              <div class="ui-g-2">2018-10-05 10:19:18</div>
              <div class="ui-g-1"><b>Approver:</b></div>
              <div class="ui-g-2">Grzegorz Wasylow</div>
              <div class="ui-g-1"><b>Number of days:</b></div>
              <div class="ui-g-2">10</div>
            </div>
          </p-card>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
