<div class="ui-g">
    <div class="ui-g-12">
      <div style="padding-top: 20px;">
        <app-shared-detail-info-bar></app-shared-detail-info-bar>
      </div>
    </div>



      <div class="ui-g-3">
          <app-shared-dashboard-menu></app-shared-dashboard-menu>
          <div style="padding-top: 20px;">
              <p-chart type="pie" [data]="requestStateData"></p-chart>
          </div>
      </div>
      <div class="ui-g-1">
      </div>
      <div class="ui-g-8">

      </div>

  </div>
  <p-dialog [visible]="true" [modal]="true" [closable]="false"
[maximizable]="true" [responsive]="true" [width]="1680">
      <app-availability-viewer-detailes></app-availability-viewer-detailes>
  </p-dialog>
